@font-face {
    font-family: 'Whitney';
    src: url('fonts/WhitneyHTFLight.eot');
    src: url('fonts/WhitneyHTFLight.eot') format('embedded-opentype'),
         url('fonts/WhitneyHTFLight.woff2') format('woff2'),
         url('fonts/WhitneyHTFLight.woff') format('woff'),
         url('fonts/WhitneyHTFLight.ttf') format('truetype'),
         url('fonts/WhitneyHTFLight.svg#WhitneyHTFLight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Whitney';
    src: url('fonts/WhitneyHTFBook.eot');
    src: url('fonts/WhitneyHTFBook.eot') format('embedded-opentype'),
         url('fonts/WhitneyHTFBook.woff2') format('woff2'),
         url('fonts/WhitneyHTFBook.woff') format('woff'),
         url('fonts/WhitneyHTFBook.ttf') format('truetype'),
         url('fonts/WhitneyHTFBook.svg#WhitneyHTFBook') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('fonts/WhitneyHTFBold.eot');
    src: url('fonts/WhitneyHTFBold.eot') format('embedded-opentype'),
         url('fonts/WhitneyHTFBold.woff2') format('woff2'),
         url('fonts/WhitneyHTFBold.woff') format('woff'),
         url('fonts/WhitneyHTFBold.ttf') format('truetype'),
         url('fonts/WhitneyHTFBold.svg#WhitneyHTFBold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Whitney';
    src: url('fonts/WhitneyHTFBookSC.eot');
    src: url('fonts/WhitneyHTFBookSC.eot') format('embedded-opentype'),
         url('fonts/WhitneyHTFBookSC.woff2') format('woff2'),
         url('fonts/WhitneyHTFBookSC.woff') format('woff'),
         url('fonts/WhitneyHTFBookSC.ttf') format('truetype'),
         url('fonts/WhitneyHTFBookSC.svg#WhitneyHTFBookSC') format('svg');
    font-weight: normal;
    font-variant: small-caps;
}

@font-face {
    font-family: 'Whitney';
    src: url('fonts/WhitneyHTFSemiBoldSC.eot');
    src: url('fonts/WhitneyHTFSemiBoldSC.eot') format('embedded-opentype'),
         url('fonts/WhitneyHTFSemiBoldSC.woff2') format('woff2'),
         url('fonts/WhitneyHTFSemiBoldSC.woff') format('woff'),
         url('fonts/WhitneyHTFSemiBoldSC.ttf') format('truetype'),
         url('fonts/WhitneyHTFSemiBoldSC.svg#WhitneyHTFSemiBoldSC') format('svg');
    font-weight: 500;
    font-variant: small-caps;
}


@font-face {
    font-family: 'Hoefler Text';
    src: url('fonts/HoeflerTextRegularItalic.eot');
    src: url('fonts/HoeflerTextRegularItalic.eot') format('embedded-opentype'),
         url('fonts/HoeflerTextRegularItalic.woff2') format('woff2'),
         url('fonts/HoeflerTextRegularItalic.woff') format('woff'),
         url('fonts/HoeflerTextRegularItalic.ttf') format('truetype'),
         url('fonts/HoeflerTextRegularItalic.svg#HoeflerTextRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
