/******************* Universal *******************/

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent !important;
    background-position: right; 
    padding-bottom: 100px;
}

.container {
    width: 100%;
    max-width: 2000px !important;
    padding: 10px 30px;
    background-color: transparent !important;
}

.highlight-card {
    min-height: 200px;
    margin-top: -300px;
    background-color: transparent !important;
}

nav .container, footer .container {
    padding: 0 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h3 {
    margin-bottom: 15px;
}
a, a:hover, a:active, a:focus {
    color: white;
}

.footnote {
    margin-top: 30px;
}

/******************* Navigation *******************/

.navbar {
    background-color: black;
    border-radius: 0;
    border: 0;
    box-shadow: white 0px 0px 12px 0px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a {
    background-color: gray;
}

/******************* Header *******************/

.view_top {
    background-size: auto;
    background-attachment:fixed;
    font-family: "Trebuchet MS", Courier, monospace;
    font-style: italic;
}

.view_top h1 {
    font-size: 60px;
    text-shadow: 2px 2px green;
}

.view_top.home h1 {
    text-transform: lowercase;

    font-size: 8em;
    line-height: 0.8em;

    margin: 0;
}

.view_top h2 {
    margin-top: 0;
}

/******************* Home *******************/

.index_main {
    background-image: url('../images/lizard.jpg');
}

.course_info {
    font-family: Lucida Grande;
    border-radius: 50px;
    width: 50%;
    color: black;
    text-align: center;
    background-color:rgba(255,255,255,0.8);
}

.course_info h1 {
    color:green;
}

.course_info h2{
    font-size: 24px;
    color:green;
}
.course_info h3{
    color:green;
    text-decoration: italic;
    font-size: 18px;
}

.course_info p {
    margin-left: 25px;
    margin-right: 25px;
}

.course_info li {
    text-align: left;
}

/******************* News *******************/

.news_main {
    background-image: url('../images/chameleon.jpg');
    background-size: 110%;
}

.news_list{
    /* Font settings */
    color: black;
    font-size: 24px;
    /* Background settings */
    border-spacing: 5px;
    /*background-image: linear-gradient(to bottom, green 0%, yellow 100%); /* the gradient */*/
     /* Position settings */
    margin-left: 100px;
    width: 50%;
}

.news_list h1 {
    color: black;
    margin-left: 25px;
}

.news_list p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}

/******************* Assignments *******************/

.assign_main {
    background-image: url('../images/happy_lizard.jpg');
}

.assignments_list table {
    /* Font settings */
    font-family: Lucida Grande;
    font-size:18px;
    /* Background settings */
    background-image: linear-gradient(to bottom, red 0%, blue 100%); /* the gradient */
    background-origin: border-box;
    opacity:0.5;
    /* Border settings */
    border-spacing: 5px;
    border: 10px solid transparent;
    /* Position settings */
    width: 30%;
}

th {
    text-align: left;
    color: white;
}

td {
    padding-top: 15px;
    text-align: left;
    color: black;
    background-color:rgba(255,225,205,0.5);
}

.assignments_list tr:nth-child(even) {
    opacity:0.8;
}

/******************* Calendar *******************/

.calendar_main {
    background-image: url('../images/dancing_lizard.jpg');
}

.embedded_calendar {
    /* Font */
    font-weight: bold;
    color: white;
    /* Position */
    position: relative;
    text-align: center;
}

/******************* Lectures *******************/

.lectures_main {
    background-image: url('../images/green_lizard.jpg');
}

.lectures_list table {
    /* Font */
    font-family: Lucida Grande;
    font-size: 18px;
    /* Background */
    background-image: linear-gradient(to bottom, black 0%, green 100%); /* the gradient */
    background-origin: border-box;
    opacity:0.5;
    /* Border */
    border-spacing: 5px;
    border: 10px solid transparent;
    background-color: transparent !important;
    border-collapse: collapse;
    /* Position */
    width: 30%;
}

/******************* Labs *******************/

.labs_main {
    background-image: url('../images/blue_lizard.jpg');
}

.labs_list table {
    /* Font */
    font-size:18px;
    font-family: Lucida Grande;
    /* Position */
    margin-top: 100px;
    width: 40%;
    /* Background */
    border-radius:20px;
    background-image: linear-gradient(to bottom, lightblue 0%, tan 100%); /* gradient background color */
    background-origin: border-box;
    opacity:0.8;
    /* Border */
    border-spacing: 5px;
    border: 10px solid transparent;
    border-collapse: collapse;
}

.labs_list table th, a {
    color: black;
}

/******************* Resources *******************/

.resources_main {
    background-image: url('../images/rock_lizard.jpg');
}

.resources {
    padding-left: 40px;
}

.resources h3 {
    font-family: Lucida Grande;
    color: yellow;
}

.resources ul {
    list-style-type: none;
    background-image: linear-gradient(to bottom, cyan 0%, black 100%);
    padding: 10px;
    opacity: 0.8;
    width: 40%;
}

.resources_accordion.active, .resources_accordion:hover {
    background-color:rgba(255,205,205,0.5);
}

.resources_accordion:before {
    content: '\002B  ';
    color: yellow;
    font-size: 24px;
}

.resources_accordion.active:before {
    content: "\2212  ";
}

div.panel {
    background-color: white;
    overflow: hidden;
}

/******************* Staff *******************/

.staff_main {
    background-image: url('../images/baby_lizard.jpg');
    background-size: 120%
}

.staff_header ul {
    list-style: none;
    padding-left: 0;
    -webkit-column-count: 2;
    column-count: 2;
}

.staff_list {
    background-color:rgba(255,220,150,0.5);
    width: 60%;
    text-align: left;
    font-size: 20px;
    margin-bottom:60px;
    margin-left:60px;
    padding-left:60px;
    transition: 0.4s;
}

.staff_pic:hover{
    background-image: url('../images/lizard.jpg');
}

.staff_pic {
    height: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('../images/small_lizard_3.jpg');
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition-duration:0.3s;
}

/******************* Footer *******************/

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    padding-bottom: 75px;
    padding-top: 20px;
    width: 100%;
    background-color: black;
}

.lectures {
    color: #333333;
}

.footer_title {
    color: white;
}