/** Main Styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent !important;
    background-position: right; 
    padding-bottom: 100px;
}

.index_main {
    background-image: url('../images/lizard.jpg');
}

.assign_main {
    background-image: url('../images/happy_lizard.jpg');
}

.lectures_main {
    background-image: url('../images/green_lizard.jpg');
}

.labs_main {
    background-image: url('../images/blue_lizard.jpg');
}

.resources_main {
    background-image: url('../images/rock_lizard.jpg');
}

.staff_main {
    background-image: url('../images/baby_lizard.jpg');
}

.small-caps {
    font-variant: small-caps;
}

.container {
    width: 100%;
    max-width: 2000px !important;
    padding: 10px 30px;
    background-color: transparent !important;
}

.highlight-card {
    min-height: 200px;
    margin-top: -300px;
    background-color: transparent !important;
}

nav .container, footer .container {

    padding: 0 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h3 {
    margin-bottom: 15px;
}
a, a:hover, a:active, a:focus {
    color: white;
}

.footnote {
    margin-top: 30px;
}

/** Nav */

.navbar {
    background-color: black;
    /*color: white;*/
    border-radius: 0;
    border: 0;
    box-shadow: white 0px 0px 12px 0px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a {
    background-color: gray;
}


/* Center the navigation */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar.navbar-collapse {
        text-align: center;
    }
    .status, .online .pulse-ring {
        display: inline-block;
    }
}

/** view_top */

.view_top {
    /*padding-bottom: 25px;*/
    /*background-color: #009933;*/
    /*background: url('../images/lizard.jpg');*/
    background-size: auto;
    background-attachment:fixed;
    /*padding-bottom: 10px;*/
    font-family: "Trebuchet MS", Courier, monospace;
    font-style: italic;
}

.view_top.container {
    /*background-repeat: no-repeat;*/
    /*background-position: 90% 100%;*/
    /*background-size: auto 260px;*/
}

.view_top h1 {
    /*font-family: "Lobster Two";*/

    font-size: 4em;
    text-shadow: 2px 2px #009933;
    /*margin-bottom: 15px;*/
}

.view_top.home h1 {
    text-transform: lowercase;

    font-size: 8em;
    line-height: 0.8em;

    margin: 0;
}

.view_top h2 {
    margin-top: 0;
    /*color: white;*/
    /*margin-bottom: 50px;*/
}

@media (max-width: 768px) {
    .view_top .container {
        padding: 10px 0px;
    }
    .view_top h1 {
        font-size: 3.2em;
    }
}

/** Assignments */

.assignments_list table {
    opacity:0.5;
    font-size:18px;
    background-image: linear-gradient(to bottom, red 0%, blue 100%); /* the gradient */
    background-origin: border-box; /* set background to start from border-box */
    border-spacing: 5px; /* space between each cell */
    border: 10px solid transparent; /* optional */
    background-color: transparent !important;
    /*font-color: red;*/
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 30%;
}

th {
    text-align: left;
    color: white;
    /*background:gray;*/
    /*background-color:rgba(255,222,0,0.8);*/
}

td {
    padding-top: 15px;
    /*border: 3px solid black;*/
    text-align: left;
    color: black;
    /*background:gray;*/
    /*background-color:rgba(255,222,0,0.5);*/
    /*opacity:0.2;*/
    background-color:rgba(255,225,205,0.5);
}

tr:nth-child(even) {
    /*font-color: red;*/
    /*background-color: gray;*/
    opacity:0.8;
}


/** Lectures **/

.lectures_list table {
    background-color: white;
    opacity:0.5;
    font-size:18px;
    background-image: linear-gradient(to bottom, black 0%, green 100%); /* the gradient */
    background-origin: border-box; /* set background to start from border-box */
    border-spacing: 5px; /* space between each cell */
    border: 10px solid transparent; /* optional */
    background-color: transparent !important;
    /*font-color: red;*/
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 40%;
}

/** Labs **/

.labs_list table {
    /*display: table-row;*/
    vertical-align: top;
    padding-bottom: 200px;
    border-radius:20px;
    opacity:0.5;
    font-size:18px;
    background-image: linear-gradient(to bottom, lightblue 0%, tan 100%); /* the gradient */
    background-origin: border-box; /* set background to start from border-box */
    border-spacing: 5px; /* space between each cell */
    border: 10px solid transparent; /* optional */
    background-color: transparent !important;
    border-collapse: collapse;
    width: 30%;
}


/** Resources **/

.resources {
    padding-left: 40px;
}

.resources h3 {
    font-family: Lucida Grande;
    color: yellow;
}

.resources ul {
    list-style-type: none;
    background-image: linear-gradient(to bottom, cyan 0%, black 100%);
    padding: 10px;
    opacity: 0.8;
    width: 40%;
}

.resources_accordion {
    text-decoration: none;
    /*background-color: #eee;*/
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    border: none;
    /*text-align: left;*/
    outline: none;
    /*font-size: 15px;*/
    /*transition: 0.4s;*/
}

.resources_accordion.active, .resources_accordion:hover {
    /*display:inline-block;*/
    background-color:rgba(255,0,205,0.5);
}

.resources_accordion:before {
    /*display:inline-block;*/
    content: '\002B  ';
    color: yellow;
    /*font-weight: bold;*/
    font-size: 24px;
    /*padding-left: -24px;*/
    /*float: right;*/
    /*margin-left: 5px;*/
}

.resources_accordion.active:before {
    content: "\2212  ";
}

div.panel {
    /*padding: 0 18px;*/
    background-color: white;
    /*max-height: 0;*/
    overflow: hidden;
    /*transition: max-height 0.2s ease-out;*/
}


/** News **/

.news.container {
    overflow: auto;
}

/** Staff */

.staff_header ul {
    list-style: none;
    padding-left: 0;
    -webkit-column-count: 2;
    column-count: 2;
}

.staff_list {
    /*color: black;*/
    background-color:rgba(255,220,150,0.5);
    /*color: #444;*/
    cursor: pointer;
    padding-bottom: 18px;
    width: 60%;
    border: none;
    float: left;
    text-align: left;
    /*outline: none;*/
    font-size: 20px;
    margin-bottom:60px;
    margin-left:60px;
    padding-left:60px;
    transition: 0.4s;
}

.staff_pic:hover{
    background-image: url('../images/lizard.jpg');
}

.staff_pic:hover, .staff_pic.hover {
}

.staff_pic {
    height: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('../images/small_lizard_3.jpg');
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition-duration:0.3s;
}
.info {
    margin: 15px 0px;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


.profile-picture:hover, .profile-picture.hover {
}

/** Staff Pictures */

.head-tas .profile-picture {
    background-image: url(' ../images/htas.jpg');
}

.head-tas .profile-picture:hover {
    background-position: 100% 0%;
}

/* Staff */

div {
    /*width: 150px;*/
    /*height: 200px;*/
    overflow-y: auto;
}

/** Footer */

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: black;
}

@media (max-width: 768px) {
    .footer p:first-child {
        margin-bottom: 0;
    }
    .footer .text-right {
        text-align: left;
        margin-top: 0;
    }
}

.lectures {
    color: #333333;
}

.footer_title {
    color: white;
}